.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
  color: $primary-text-color;
  fill: $primary-text-color;
  font-weight: $font-weight-500;
  font-size: $font-size-14;
  line-height: 1.4$line-height-140;
  letter-spacing: 0.02em;
  margin-bottom: 0;

  transition: color 250ms $transition-timing-function, fill 250ms $transition-timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}
.contacts__logo {
  margin-right: 10px;
}
