.feature {
  display: flex;
  flex-wrap: wrap;
}

.feature__item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and(min-width: $tablet){
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and(min-width: $desktop){
  margin-right: 30px;
  margin-bottom: 0;
  flex-basis: calc((100% - 90px) / 4);

    &:last-child {
      margin-right: 0;
    }
  }   
}

.feature__item:nth-child(2n + 1){
   @media screen and(min-width: $tablet) and(max-width: 1199px){
   margin-right: 30px;
  }
}

.feature__item:nth-child(3) {
  @media screen and(min-width: $tablet) and(max-width: 1199px) {
    margin-bottom: 0;
  }
} 

.feature__item:nth-child(4) {
  @media screen and(min-width: $tablet) and(max-width: 1199px){
    margin-bottom: 0;
  }
}

.feature__box {
  @include centerFlex();
  margin-bottom: 30px;
  background-color: $bgc-feature;
  height: 120px;
}

.feature__title {
  text-align: center;
  @include fonts(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  color: $title-text-color;
  margin-bottom: 10px;
  margin-top: 0;
  text-transform: uppercase;

  @media screen and(min-width: $tablet){
    text-align: start;
  }

  @media screen and(min-width: $desktop){
  color: $title-text-color;
  }
}

.feature__text {
  @include fonts(400, 14px, 1.71, 0.03em);
  color: $primary-text-color;

  @media screen and(min-width: $desktop) {
  
  }
}
