.page-footer {
  padding: 60px 0;
  background-color: $section-color;  


  @media screen and(min-width: $desktop){
  align-items: baseline;
  display: flex;
  }
}

.page-footer--bgc {
  text-align: center;


  @media screen and(min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.wrapper {
  @media screen and(max-width: 767px){
     margin-bottom: 60px;
  }
   

  @media screen and(min-width: $tablet) and(max-width: 1199px){
  }

  @media screen and(min-width: $desktop){
  margin-right: 70px;
  text-align: start;
  }

}

.wrapper__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: $white-color;
  font-family: $font-family-secondary;
  @include fonts(400, 26px, 1.19, 0.03em);
}

.wrapper__icon {
  color: $accent-color;
}

.addres {
  @media screen and(max-width: 767px){
 
  }
}

.addres__items {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0px;
  }
}

.addres__link {
  font-style: normal;
  color: $white-color;
  background-color: $section-color;
  @include fonts(400, 14px, 1.71, 0.03em);
}

.addres__contacts {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  background-color: $section-color;
  @include fonts(400, 14px, 1.71, 0.03em);

  transition: color 250ms $transition-timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.accede {
  @media  screen and(max-width: 767px) {
    margin-bottom: 60px; 
  }
 

  @media screen and(min-width: $desktop){
  margin-right: 93px;
  }
 
}

.accede__title {
  @include fonts(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  color: $white-color;
  margin-bottom: 20px;

  @media screen and(min-width: $desktop){
  margin-bottom: 20px;
  text-align: start;
  }

}

.social {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
 
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  @include centerFlex();
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: $white-color;

  transition: background-color 250ms $transition-timing-function;
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.social__logo {
  fill: currentColor;
}


.subscribe{
  @media screen and(min-width: 768px) and(max-width: 1199px){
    margin-top: 60px;
  }
}

.subscribe__title {
  margin-bottom: 20px;
  @include fonts(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;

  color: $white-color;

  @media screen and(min-width: $desktop) {
    text-align: start;
  }
}

.form--position {
 

  @media screen and (min-width: $desktop){
    position: relative;
    display: flex;
    margin: 0 auto;
  }
 
}

.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) and(max-width: 1199px){
   width: 450px;
  }

  @media screen and (min-width: $desktop) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 358px;
  height: 50px;
  margin-right: 10px;
    }
}

.form__input {
  margin: 0;
  padding: 15px;

  background-color: inherit;
  color: $white-color;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition: border-color 250ms $transition-timing-function,
    outline 250ms $transition-timing-function;

  &:hover,
  &:focus {
    border-color: rgba(255, 255, 255, 0.5);
    outline: none;
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.3);

    transition: color 250ms $transition-timing-function;
  }
  &:hover::placeholder,
  &:focus::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
}

.form__btn {
  @include centerFlex();
  text-align: inherit;
  padding: 10px 30px;
  min-width: 200px;
  height: 50px;

  @include fonts(700, 16px, 1.88, 0.06em);
  background-color: $accent-color;
  color: $white-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;

  transition: background-color 250ms $transition-timing-function;

  @media screen and(max-width: 767px) {
    margin: 0 auto;
  }
  
  @media screen and(min-width: $tablet) and(max-width: 1199px) {
  margin: 0 auto;
  }

  @media screen and(min-width: $desktop) {

  }



  &:hover,
  &:focus {
    background-color: $button-hover;
  }
}

.form-btn__icon {
  fill: $white-color;
  margin-left: 10px;
}
