.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.grid__item {
  margin-left: 30px;
  margin-top: 30px;

  @media screen and(min-width: $tablet) and(max-width: 1199px) {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    }
  

  @media screen and(min-width: 1200px){
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;

    // &:nth-child(3n) {
    //   margin-right: 0;
    // }

    // &:nth-last-child(-n + 3) {
    //   margin-bottom: 0;
    // }
 }
}

.grid__link {
  display: flex;
  flex-direction: column;
  height: 100%;

  transition: box-shadow 250ms $transition-timing-function;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.grid__box {
  position: relative;
  // @extend %width;
  overflow: hidden;
  z-index: -1;
}

.grid__text {
  position: absolute;
  bottom: 0;
  right: 0;
  // @extend %width;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms $transition-timing-function;

  .grid__link:hover &,
  .grid__link:focus & {
    transform: translate(0);
  }

  & > p {
    @include fonts(400, 14px, 1.56, 0.03em);

    color: $white-color;
    

    @media screen and(max-width: 400px){
      font-size: 14px;
      padding: 35px 24px;
    }

    @media screen and(min-width: 401px) {
      font-size: 16px;
      padding: 50px 24px;
    }

    @media screen and(min-width: 540px) {
      font-size: 18px;
      padding: 77px 24px;
    }

    @media screen and(min-width: $tablet) {
    padding: 60px 24px;
  }

  @media screen and(min-width: $tablet) {
    padding: 63px 24px;
  }
}
}

.aside {
  flex-grow: 1;
  padding: 20px 24px;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}


.aside__title {
  margin-bottom: 4px;
  color: $title-text-color;
  @include fonts(700, 18px, 2.00, 0.06em);
}

.aside__subtitle {
  @include fonts(400, 16px, 1.88, 0.03em);
  color: $primary-text-color;
}
