.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.grid__link {
  display: block;

  transition: box-shadow 250ms $transition-timing-function;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.grid__box {
  position: relative;
  @extend %width;
  overflow: hidden;
}

.grid__text {
  position: absolute;
  bottom: 0;
  right: 0;
  @extend %width;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms $transition-timing-function;

  .grid__link:hover &,
  .grid__link:focus & {
    transform: translate(0);
  }

  & > p {
    padding: 63px 24px;

    font-size: $font-size-18;
    line-height: $line-height-156;
    letter-spacing: 0.03em;
    color: $white-color;
  }
}

.aside {
  padding: 20px 24px;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.aside__title {
  margin-bottom: 4px;
  color: $title-text-color;
  font-weight: $font-weight-700;
  font-size: $font-size-18;
  line-height: $line-height-200;

  letter-spacing: 0.06em;
}

.aside__subtitle {
  font-size: $font-size-16;
  line-height: $line-height-188;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}
