.logo {
  margin-right: 93px;
  color: $black-color;
  font-family: $font-family-secondary;
  font-size: $font-size-26;
  line-height: $line-height-119;
  letter-spacing: 0.03em;
}

.logo__icon {
  color: $accent-color;
}
