.menu-button {
    position: relative;
    right: 0;
    z-index: 2;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: auto;
    
    transition: fill 250ms $transition-timing-function;

    @media screen and(min-width: $tablet) {
        display: none;
    }

    & .mobile-menu__open {
        // display:  none;
        opacity: 0;
        transform: scale(0.3) rotate(90deg) translateY(100%);
    }

    &.is-open .mobile-menu__open {
        // display: block;
        opacity: 1;
        transform: scale(1) rotate(0) translateY(0);
        transform-origin: center;
        transition: opacity 400ms ease,
        transform 400ms ease;
    }

    & .mobile-menu__close{
        opacity: 1;
        transform: scale(1) rotate(0) translateY(0);
    }
    &.is-open .mobile-menu__close {
        // display: none;
        opacity: 0;
        transform: scale(0.3) rotate(0);
        transform-origin: center;
        transition: opacity 400ms ease 300ms,
        transform 400ms ease 300ms;
    }

    @media screen and(max-width: 767px) {

        &:hover,
        &:focus {
            fill: $accent-color;
        }
    }
}