.mobile-menu {
    position: relative;
    // margin-top: 10px;
}

.mobile-menu__open {
    z-index: 2;
}

.mobile-menu__close {
    z-index: 1;
}

.menu-container {
    background-color: $white-color;
    padding: 20px;
    font-size: 20px;
  

    @media screen and(max-width: 767px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        padding: 48px 40px;

        display: flex;
        flex-direction: column;

        opacity: 0;
        transform: translateY(100%);
        transition: transform 250ms $transition-timing-function,
        opacity 250ms $transition-timing-function;

        &.is-open {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @media screen and(min-width: $tablet) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        padding: 0;
    }
}