.mobile-menu__open {
    z-index: 2;
}

.mobile-menu__close {
    z-index: 1;
}

.menu-container {
    background-color: $white-color;
    padding: 20px;
    font-size: 20px;
 
  

    @media screen and(max-width: 767px) {   
        justify-content: space-between;
        position: fixed;
        // position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 48px 40px;

        display: flex;
        flex-direction: column;

        opacity: 0;
        transform: translateX(100%);
        visibility: hidden;
        transition: transform 250ms $transition-timing-function,
        opacity 250ms $transition-timing-function, visibility 250ms $transition-timing-function;

        &.is-open {
            position: absolute;
            opacity: 1;
            transform: translateX(0);
            visibility: visible;
        }
    }

    @media screen and(min-width: $tablet) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        padding: 0;
    }
}