.nav{
    width: 100%;
    height: 100%;
}

.site-nav {

    @media screen and(max-width: 767px) {
        // display: inline-block;
        
    }

    @media screen and(min-width: $tablet) {
        display: flex;
       margin-left: auto;
    }

    @media screen and(min-width: $desktop) {
        // margin-right: 305px;
    }
}

.site-nav__link {
    @include fonts(500, 14px, 1.14, 0.02em);
    color: $title-text-color;


    transition: color 250ms $transition-timing-function;

    &:hover,
    &:focus {
        color: $accent-color;
    }

    @media screen and(max-width: 767px) {
        @include fonts(500, 40px, 1.18, 0.02em);
        color: $title-text-color;
    }

    @media screen and(min-width: $tablet) {
        line-height: 1.14;
    }

    @media screen and(min-width: $desktop) {
        @include fonts(500, 14px, 1.14, 0.02em);
    }
}


.site-nav__link--active {
    color: $accent-color;

    @media screen and(max-width: 767px) {
        @include fonts(500, 40px, 1.18, 0.02em);
    }

    &::after {
        @media screen and(min-width: 768px) {
            display: block;
            position: relative;
            content: '';
            bottom: -27px;
            left: 0;

            background-color: $accent-color;
            width: 100%;
            height: 4px;
            border-radius: 2px;

            transform: scale(1);
            transition: transform 250ms $transition-timing-function;
        }
    }


    &:hover::after {
        transform: scaleX(0.9);
    }
}

.site-nav__item {
    @media screen and(max-width: 767px) {
        &:not(:last-child){
             margin-bottom: 32px;
        }
    }

    @media screen and(min-width: 768px){
        &:not(:last-child) {
            margin-right: 50px;
        }
    }
}