.section--padding-top {
  @media screen and(max-width: 1199px){
    display: none;
  }

  padding-top: 0;
}

.work {
  display: flex;
  flex-wrap: wrap;
}
.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__thumb {
  position: relative;
}

.work__text {
  @include centerFlex();
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;

  text-align: center;
  font-weight: $font-weight-700;
  font-size: $font-size-14;
  line-height: $line-height-114;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $white-color;
  background-color: rgba(47, 48, 58, 0.8);
}
