.section--other-bgc {
  background-color: $button-bgc;
}

.comand {
  @media screen and(max-width: 767px){

    }
  
  @media screen and(min-width: $tablet){
    display: flex;
    flex-wrap: wrap;
   }
}

.comand__items {
 background-color: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and(max-width: 767px){
      margin-bottom: 30px;

      &:last-child{
        margin-bottom: 0;
      }
  }

  @media screen and(min-width: $tablet) and (max-width: 1199px){
    width: calc((100% - 30px) / 2);

    &:not(:nth-child(2n)){
    margin-right: 30px;
    }

    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
   }   

  @media screen and(min-width: $desktop) {
    width: calc((100% - 3 * 30px) / 4);
    
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.avatar {
  padding-bottom: 24px;
  padding-top: 30px;

  @media screen and(min-width: $desktop){
    padding: 30px 32px;
    
  }
  
}

.avatar__title {
  @include fonts(500, 16px, 1.19, 0.03em);
  text-align: center;
  margin-bottom: 10px;
  color: $title-text-color;
}

.avatar__text {
  text-align: center;
  margin-bottom: 16px;
  @include fonts(400, 16px, 1.19, 0.03em);
}

.comand-social {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.comand-social__item:not(:last-child) {
  margin-right: 10px;
}

.comand-social__link {
  @include centerFlex();
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $logo-color;


  transition: background-color 250ms $transition-timing-function,
    color 250ms $transition-timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $white-color;
  }
}

.comand-social__icon {
  fill: currentColor;
}