.page-header__container {
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-between;

    @media screen and(max-width: 767px) {
        
    }

    @media screen and(min-width: $tablet) {
        padding-top: 26px;
        padding-bottom: 26px;
    }
}

.page-header {
    border-bottom: 1px solid #ececec;
}