.page-header {
    position: relative;
    z-index: 0;
    border-bottom: 1px solid #ececec;
    padding: 15px 0;
 
    @media screen and(min-width: $tablet) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    @media screen and(min-width: $desktop) {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

.page-header__container {
      @media screen and(min-width: $tablet) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    } 
}

.page-header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}