body {
  background-color: $white-color;
  color: $primary-text-color;
  font-family: $font-family-primary;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding: 94px 0;
}

.visually-hidden {
  @extend %visually-hidden;
}

.section__title {
  text-align: center;
  margin-bottom: 50px;
  color: $title-text-color;
  font-weight: $font-weight-700;
  font-size: $font-size-36;
  line-height: $line-height-116;
  letter-spacing: 0.03em;
}
