$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$button-hover: #188ce8;
$white-color: #ffffff;
$black-color: #000000;
$section-color: #2f303a;
$logo-color: #afb1b8;
$button-bgc: #f5f4fa;
$bgc-backdrop: rgba(0, 0, 0, 0.2);
$bgc-feature: #f5f4fa;
$border-color: #eeeeee;

$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

$font-family-primary: Roboto, sans-serif;
$font-family-secondary: Raleway, sans-serif;

$font-weight-500: 500;
$font-weight-700: 700;
$font-weight-900: 900;

$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-26: 26px;
$font-size-34: 34px;
$font-size-36: 36px;
$font-size-40: 40px;
$font-size-44: 44px;

$line-height-114: 1.14;
$line-height-115: 1.15;
$line-height-116: 1.16;
$line-height-117: 1.17;
$line-height-118: 1.18;
$line-height-119: 1.19;
$line-height-122: 1.22;
$line-height-136: 1.36;
$line-height-140: 1.4;
$line-height-151: 1.51;
$line-height-156: 1.56;
$line-height-162: 1.62;
$line-height-171: 1.71;
$line-height-188: 1.88;
$line-height-200: 2;


$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;